<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  throwConfigExceptions="true">

	<targets>
		<target name="logFile" 
				xsi:type="File" 
				fileName="${basedir}/logs/Output${longdate:cached=true}.log" 
				archiveOldFileOnStartup="true"
				maxArchiveFiles="20" />
		
		<target name="logConsole" 
				xsi:type="Console" />
	</targets>

	<rules>
		<logger name="*" minlevel="Info" 
				writeTo="logConsole" />
		
		<logger name="Default" 
				minlevel="Debug" 
				writeTo="logFile" />
	</rules>
</nlog>